<article class="col col-sm-6 col-md-4 col-lg-2 border rounded text-center m-1 p-2">
    <h2 class="h6">@Category.Name</h2>
    <div>
        <button class="btn btn-outline-info"
                aria-label="Edit @Category.Name"
                @onclick="@(() => OnEdit.InvokeAsync(Category))">Edit</button>
        <button class="btn btn-outline-danger"
                aria-label="Delete @Category.Name"
                @onclick="@(() => OnDelete.InvokeAsync(Category.Id))">Delete</button>
    </div>
</article>

@code {
    [Parameter]
    public required CategoryModel Category { get; set; }
    [Parameter]
    public EventCallback<int> OnDelete { get; set; }
    [Parameter]
    public EventCallback<CategoryModel> OnEdit { get; set; }
}
